body {
	font-family: 'Lato', sans-serif;
	color: white;
	font-weight: 300;
	background-image: url("../img/setup_compr.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; /* centers picture responsively */
    background-size: cover; /* crops picture responsively */
}

@media only screen and (max-width: 991px) {
	.sm-text-center {
		text-align: center;
	}

	.sm-center-block {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Multi-use */
.full-screen {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh;
	min-width: 100vh;
}

.full-padding {
	padding: 5px;
}

.remove-side-padding {
	padding-right: 0;
	padding-left: 0;
}

.remove-margin-bottom {
	margin-bottom: 0;
}

.med-alpha-bg {
	background-color: rgba(46, 46, 46, 0.5);
}

.full-alpha-bg {
	background-color: #E57373;
}

/* One-off */
.text-super {
	font-size: 55px;
	font-weight: 100;
}

.thick-border {
	border-width: 3px;
	border-color: #F44336;
	margin-bottom: 0;
	margin-top: 0;
}

.reg-lato {
	font-family: "Lato";
	font-weight: 400;
}

.text-intro {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh;
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}